body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 114px;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 1
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header {
    width: 100%;
    height: 104px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 24px 0px rgba(98, 131, 160, 0.1);
}

.header .header-inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .logo-image {
    width: 281px;
    height: 70px;

}

.header .header-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 28px;
    /* border: 2px solid red; */
}

.header .header-middle .header-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
}

.header .header-text {
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}

.header .button-header {
    width: 263px;
    height: 54px;
    border-radius: 5px;
    background: #FF3D2E;
    border: none;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0px 14px 24px 0px rgba(255, 61, 46, 0.13);
    text-transform: uppercase;
    transition: .2s all ease-in-out;
    cursor: pointer;
}

.header .button-header:hover {
    background-color: #f01e0f;
}


/* 2 Banner Section */

.banner {
    width: 100%;
    height: 656px;
    /* border: 2px solid red; */
    background: url(./img/mask-group.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* filter: brightness(60%); */
}



.banner .banner-image {
    content: "";
    width: 100%;
    height: 100%;

}

.banner .inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.banner .banner-heading {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(73, 163, 193, 1);
    text-transform: uppercase;
    margin: 89px 0 0 0;

}

.banner .banner-main-heading-1 {
    font-family: Open Sans;
    font-size: 60px;
    font-style: italic;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 61, 46, 1);
    margin: 15px 0 0 0;
    width: 550px;


}

.banner .banner-main-heading-2 {
    font-family: Open Sans;
    font-style: normal;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    display: block;
    /* max-width: 80%; */
    /* border: 2px solid red; */

}

.banner .banner-main-heading-3 {
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    width: 550px;
    min-width: 540px;
    /* max-width: 60%; */

}

.banner .form-box {
    width: 444px;
    height: 531px;
    margin: 61px 0 0 0;
    /* border: 1px solid rgba(140, 140, 140, 1) */
}

.banner .form-box .form-box-title {
    background-image: url("./img/rectangle-6.svg");
    height: 128px;
    width: 444px;
    text-align: center;
    margin: 0 auto;
    z-index: 10;
    position: relative;

}

.banner .form-box .form-box-title .form-box-title-1 {
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    position: relative;
    top: 11px;

}

.banner .form-box .form-box-title .form-box-title-2 {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin: 8px auto 0;
    width: 75%;

}

.banner .form {
    background-color: rgba(255, 255, 255, 1);
    margin-top: -20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 11px;
    border-radius: 5px;
    /* margin-top: 5px; */
}

.banner .form .form-title {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(68, 68, 68, 1);
    margin: 0 auto 3px;
}

.banner .form .form-input {
    width: 360px;
    height: 46px;
    border-radius: 4px;
    border: 1px;
    border-style: solid;
    border-color: rgba(140, 140, 140, 1);
    background-color: rgba(250, 250, 250, 1);
    outline: none;

}

.banner .form button {
    width: 360px;
    height: 54px;
    border-radius: 5px;
    box-shadow: 0px 14px 24px 0px rgba(255, 61, 46, 0.13);
    background-color: rgba(255, 61, 46, 1);
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    border: none;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    transition: .2s all ease-in-out;
    cursor: pointer;

}

.banner .form button:hover {
    background-color: #f01e0f;
}

.banner .form p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(68, 68, 68, 1);


}



/* 3 Testimonial */


.testimonial .flex-container {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    margin-top: 54px;

}

.testimonial .company-logo {
    display: flex;
    flex-direction: row;
    gap: 26px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonial .rating {
    width: 346px;
    height: 52px;
    border-radius: 40px;
    border: 1px;
    margin-top: 50px;
    border: 1px solid rgba(239, 239, 239, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 14px 34px 0px rgba(188, 188, 188, 0.12);

}

.testimonial .rating img {
    width: 284px;
    height: 38px;
}

.testimonial .review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.testimonial .review p {
    font-family: Open Sans;
    font-size: 26px;
    font-style: italic;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(68, 68, 68, 1);
    width: 60%;
    margin: 21px auto 0;


}

.testimonial .review img {
    width: 92px;
    height: 92px;
    margin-top: 25px;
}

.testimonial .review h6 {
    /* font-family: Montserrat; */
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(68, 68, 68, 1);
    margin: 19px 0 0 0;

}

/* 4 */

.group-4 {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    gap: 85px;
    margin-top: 80px;
}

.group-4 .left-box {
    /* display: flex; */
    margin: 0 auto;
}

.group-4 .left-box img {
    width: 464px;
    height: 546px;
}

.group-4 .left-box .inner-box {
    width: 400px;
    height: 141px;
    border-radius: 5px;
    box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -50px auto 0;
    position: relative;
    background-color: #FFFFFF;

}

.group-4 .left-box .inner-box p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(68, 68, 68, 1);
    margin: 0 auto;
    width: 80%;

}

.group-4 .right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.group-4 .right-box h2 {
    font-family: Open Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(68, 68, 68, 1);
    width: 80%;
    margin: 0;


}

.group-4 .right-box p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    width: 70%;
    color: rgba(68, 68, 68, 1);
    margin: 20px 0 0 0;

}

.group-4 .right-box p span {

    font-weight: 600;
}

.group-4 .right-box button {
    width: 360px;
    height: 62px;
    border-radius: 5px;
    box-shadow: 0px 14px 24px 0px rgba(255, 61, 46, 0.13);
    background-color: rgba(255, 61, 46, 1);
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    border: none;
    text-align: center;
    margin-top: 32px;
    text-transform: uppercase;
    transition: .2s all ease-in-out;
    cursor: pointer;

}

.group-4 .right-box button:hover {
    background-color: #f01e0f;
}

.group-4 .right-box .btn-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: start;
    color: rgba(68, 68, 68, 1);
    margin: 18px 0 0 10px;


}

/* 5  */

.group-5 {
    height: 576px;
    background: rgba(46, 131, 160, 1);
    margin-top: 80px;
}

.group-5 .inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group-5 .inner-container .top-title {
    margin-top: 69px;
}

.group-5 .inner-container .top-title h2 {
    font-family: Open Sans;
    font-size: 44px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    /* width: 40%; */
    margin: 0;


}

.group-5 .inner-container .top-title h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin: 14px 0 0 0;

}

.group-5 .inner-container .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 53px;
    margin-top: 51px;
}

.group-5 .inner-container .cards .left-card {
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 505px;
    height: 508px;
    border-radius: 5px;
    box-shadow: 0px 4px 84px 0px rgba(31, 83, 101, 0.16);

}

.group-5 .inner-container .cards .left-card img {
    width: 100%;
    height: 300px;


}

.group-5 .inner-container .cards .left-card h4 {
    width: 140px;
    height: 45px;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 1);
    background: linear-gradient(0deg, #FF3D2E, #FF3D2E),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    margin: -20px 0 0 0;
    position: relative;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
}

.group-5 .inner-container .cards .left-card h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    margin: 22px 0 0 0;
    color: rgba(0, 0, 0, 1);


}

.group-5 .inner-container .cards .left-card h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(68, 68, 68, 1);
    width: 90%;
    margin: 12px 0 0 0;


}

.group-5 .inner-container .bottom-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group-5 .inner-container .bottom-title h4 {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(68, 68, 68, 1);
    width: 55%;
    margin: 58px auto 23px;


}

.group-5 .inner-container .bottom-title button {
    width: 360px;
    height: 62px;
    border-radius: 5px;
    box-shadow: 0px 14px 24px 0px rgba(255, 61, 46, 0.13);
    background-color: rgba(255, 61, 46, 1);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    border: none;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    transition: .2s all ease-in-out;
    cursor: pointer;
}

.group-5 .inner-container .bottom-title button:hover {
    background-color: #f01e0f;
}

.group-5 .inner-container .bottom-title p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(68, 68, 68, 1);
}


/* 6 */

.group-6 {
    margin-top: 550px;
    /* border: 3px solid red; */
}

.group-6 .inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 57px;
}

.group-6 .inner-container .left-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* border: 2px solid blue; */
    width: 574px;

}

.group-6 .inner-container .left-box h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(68, 68, 68, 1);
    margin: 0;
    width: 100%;
}

.group-6 .inner-container .left-box h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(68, 68, 68, 1);
    margin: 0px;
    width: 100%;
    /* border: 2px solid red; */
}

.group-6 .inner-container .left-box ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
    margin: 27px 0 28px 0;
}

.group-6 .inner-container .left-box ul li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 13px;
    margin-top: 13px;
}

.group-6 .inner-container .left-box ul li h5 {
    width: 100%;
    line-height: 20px;

}

.group-6 .inner-container .left-box button {
    width: 360px;
    height: 62px;
    border-radius: 5px;
    background-color: rgba(255, 61, 46, 1);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
    border: none;
    text-align: center;
    margin-top: 30px;
    box-shadow: 0px 14px 24px 0px rgba(255, 61, 46, 0.13);
    text-transform: uppercase;
    transition: .2s all ease-in-out;
    cursor: pointer;
}

.group-6 .inner-container .left-box button:hover {
    background-color: #f01e0f;
}

.group-6 .inner-container .left-box p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(68, 68, 68, 1);
}

.group-6 .inner-container .right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.group-6 .inner-container .right-box .image_1 {
    width: 549px;
    height: 474px;
}

.group-6 .inner-container .right-box .image_2 {
    width: auto;
    height: auto;
    margin-top: -90px;
}

/* 7  */

.group-7 {
    height: 602px;
    background: rgba(46, 131, 160, 1);
    margin-top: 40px;

}

.group-7 .inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.group-7 .left-box {
    margin: 55px 0 0 0;
}

.group-7 .left-box img {
    width: auto;
    height: auto;
    /* margin-left: -10px; */

}

.group-7 .left-box .mobile-image {
    display: none;
}


.group-7 .right-box {
    /* border: 2px solid red; */
    width: 45%;
    padding-right: 90px;
}

.group-7 .right-box .slides {
    display: flex;
    flex-direction: column;
}

.group-7 .right-box .slides .top-box {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 17px;
}

.group-7 .right-box .slides .top-box .quotes {
    width: 36px;
    height: 27px;
}

.group-7 .right-box .slides .top-box .stars {
    width: 155px;
    height: 28px;
}

.group-7 .right-box .slides h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 16px 0 0 0;


}

.group-7 .right-box .slides h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-style: italic;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 16px 0 0 0;

}

.group-7 .right-box .slides .bottom-box {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    gap: 19px;
    margin: 19px 0 0 0;
}

.group-7 .right-box .slides .bottom-box img {
    width: 75px;
    height: 75px;
}

.group-7 .right-box .slides .bottom-box h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);

}

.group-7 .right-box .dots-parent {
    display: flex;
    flex-direction: row;
    gap: 9px;
    margin: 35px 0 0 0;
}

.group-7 .right-box .dots-parent .dots {
    width: 50px;
    height: 7px;
    top: 4488px;
    left: 679px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.active {
    background: rgba(255, 255, 255, 1) !important;

}


/* 8 */
.group-8 {
    margin-top: 62px;

}

.group-8 .slider img {
    width: auto;
    height: auto;
    margin: 0 15px 0 0;
    cursor: pointer;
}

.group-8 .slider .first_image {
    margin-left: 10px;
}


/* 9 */
.group-9 {
    margin: 85px 0 0 0;
}

.group-9 .inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group-9 .inner-container h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(68, 68, 68, 1);
    margin: 0;

}

.group-9 .inner-container .inner-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 31px;
    /* max-width: 90%; */
    width: 100%;
    margin: 44px auto 0;
}

.group-9 .inner-container .inner-grid .place {
    display: flex;
    flex-direction: row;
    gap: 11px;
    width: 150px;
    /* margin: 0 auto; */

}

.group-9 .inner-container .inner-grid .place h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(68, 68, 68, 1);
    margin: 0;

}

.group-9 .inner-container .map {
    margin: 44px 0 0 0;
    width: 1109px;
    height: 451px;
    border-radius: 5px;
}

.group-9 .inner-container .btn-div {
    text-align: center;
}

.group-9 .inner-container button {
    width: 360px;
    height: 62px;
    border-radius: 5px;
    box-shadow: 0px 14px 24px 0px rgba(255, 61, 46, 0.13);
    background-color: rgba(255, 61, 46, 1);
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    border: none;
    text-align: center;
    margin-top: 49px;
    text-transform: uppercase;
    transition: .2s all ease-in-out;
    cursor: pointer;
}

.group-9 .inner-container button:hover {
    background-color: #f01e0f;
}

.group-9 .inner-container p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(68, 68, 68, 1);
}

.group-9 .inner-container .services {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 36px;
    margin: 62px 0 0 0;
}

.group-9 .inner-container .services .services-4 {
    display: none;
}

.group-9 .inner-container .services div {
    width: 242px;
    height: 221px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 24px 44px 0px rgba(112, 152, 198, 0.11);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    border-radius: 5px;

}

.group-9 .inner-container .services div h5 {
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin: 0;

}


/* 10 */

.group-10 {
    width: auto;
    /* height: 520px; */
    background: rgba(46, 131, 160, 1);
    margin: 76px 0 0 0;
    border-radius: 5px;
    /* padding: 20px 0 0 0; */
}

.group-10 .inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.group-10 .inner-container .left-box {
    width: 42%;
    margin-left: 70px;
    margin-top: 63px;
}

.group-10 .inner-container .left-box h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 0;


}

.group-10 .inner-container .left-box h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 12px 0 0 0;

}

.group-10 .inner-container .left-box div {
    width: fit-content;
    text-align: center;
}

.group-10 .inner-container .left-box button {
    width: 360px;
    height: 62px;
    border-radius: 5px;
    box-shadow: 0px 14px 24px 0px rgba(255, 61, 46, 0.13);
    background-color: rgba(255, 61, 46, 1);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    border: none;
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.group-10 .inner-container .left-box button:hover {
    background-color: #f01e0f;
}

.group-10 .inner-container .left-box p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin: 18px 0 0 0;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 20px;

}

.group-10 .inner-container .right-box {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: end;
    align-items: end;
}

.group-10 .inner-container .right-box img {
    width: auto;
    height: auto;
}


.group-11 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.group-11 h5 {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(68, 68, 68, 1);

}


@media only screen and (max-width: 1380px) {
    .container {
        padding: 0 80px;
    }

    .header .logo-image {
        width: 255px;
        height: 60px;
    }

    .header .header-middle {
        gap: 14px;
    }

    .header .header-middle .header-group {
        gap: 10px;
    }

    .header .header-text {
        font-size: 16px;
        line-height: 20px;

    }

    .header .button-header {
        width: 240px;
        height: 50px;
        font-size: 15px;
        line-height: 26px;
    }

    .banner .banner-main-heading-1 {
        font-size: 55px;
    }

    .banner .banner-main-heading-2 {
        font-size: 55px;
        max-width: 90%;

    }

    .banner .banner-main-heading-3 {
        font-size: 21px;
        max-width: 60%;
    }

    .group-4 .right-box h2 {
        width: 80%;
        font-size: 34px;

    }

    .group-4 .right-box p {
        width: 80%;
        font-size: 19px;

    }

    .group-5 .inner-container .cards .left-card {
        width: 480px;
        height: 508px;

    }

    .group-9 .inner-container .inner-grid {
        gap: 29px;
        /* max-width: 90%; */
    }

    .group-9 .inner-container .inner-grid .place h5 {
        font-size: 20px;
        line-height: 21px;
    }

    .group-9 .inner-container .inner-grid .place {
        width: 130px;

    }

    .group-9 .inner-container .map {
        margin: 44px 0 0 0;
        width: 1000px;
        height: 431px;
        border-radius: 5px;
    }

    .group-10 .inner-container .right-box img {
        height: auto;
    }

    .group-10 .inner-container .left-box {
        width: 40%;
        margin-left: 60px;
    }
}

@media only screen and (max-width: 1180px) {
    .banner .banner-heading {
        margin: 60px 0 0 0;
        width: 80%;

    }

    .banner .inline .inline-banner {
        width: 50%;
    }

    .banner .banner-main-heading-1 {
        font-size: 50px;
        width: 480px;

    }

    .header .header-text {
        font-size: 14px;
    }

    .banner .banner-main-heading-2 {
        font-size: 50px;
        max-width: 90%;

    }

    .banner .banner-main-heading-3 {
        min-width: 80%;
    }

    .banner .form-box {
        width: 404px;
        margin-top: 50px;
        border-radius: 5px;
        /* border: 2px solid red; */
    }

    .banner .form-box .form-box-title {
        height: 128px;
        width: 404px;
        border-radius: 5px;
    }

    .banner .form {
        margin-top: -20px;
    }

    .banner .form .form-title:first-child {
        margin: 10px auto 3px;

    }

    .group-4 .right-box h2 {
        width: 100%;
    }

    .group-4 .right-box p {
        width: 100%;

    }

    .group-5 .inner-container .cards {
        gap: 30px;
    }

    .group-5 .inner-container .cards .left-card {
        width: 460px;
        height: 508px;

    }

    .group-6 .inner-container .right-box .image_1 {
        width: 520px;
        height: 460px;
    }

    .group-6 .inner-container .left-box h2 {
        font-size: 32px;
        width: 95%;
    }

    .group-6 .inner-container .left-box h5 {
        font-size: 19px;
        width: 80%;
    }

    .group-7 .left-box img {
        width: 520px;
        height: 500px;
        margin-left: -10px;

    }

    .group-9 .inner-container .map {
        margin: 44px 0 0 0;
        width: 850px;
        height: 421px;
        border-radius: 5px;
    }

    .group-10 .inner-container .right-box img {
        height: 450px;
    }

    .group-10 .inner-container .left-box {
        width: 35%;
        margin-left: 50px;
    }

    .group-10 .inner-container .left-box button {
        width: 320px;
        height: 56px;
        font-size: 19px;
    }
}

@media only screen and (max-width: 1080px) {
    .container {
        padding: 0 60px;
        /* margin: 0; */
    }

    .header {
        display: flex;
        align-items: center;
        height: 80px;

    }

    .header .header-inline {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* border: 2px solid red; */
        gap: 50px;
        width: 85vw;
    }

    .header .header-middle {
        display: none;
        /* visibility: hidden; */
    }

    .header .header-middle .header-group {
        gap: 10px;
    }

    .header .header-text {
        font-size: 15px;
        line-height: 20px;

    }

    .header .button-header {
        width: 250px;
        height: 55px;
        font-size: 15px;
        line-height: 26px;
    }

    .banner .form .form-input {
        width: 340px;
        height: 42px;

    }

    .banner .form button {
        width: 340px;
        height: 48px;
        margin-top: 10px;
    }

    .group-4 {
        gap: 40px;
    }

    .group-4 .left-box img {
        width: 444px;
        height: 540px;
    }

    .group-4 .right-box button {
        width: 340px;
        height: 58px;
        font-size: 17px;

    }

    .group-4 .right-box .btn-text {
        margin: 12px 0 0 10px;


    }

    .group-6 .inner-container .right-box .image_1 {
        width: 500px;
        height: 450px;
    }

    .group-6 .inner-container .left-box h2 {
        font-size: 31px;
        width: 100%;
    }

    .group-6 .inner-container .left-box h5 {
        font-size: 19px;
        width: 95%;
    }

    .group-6 .inner-container .left-box button {
        width: 330px;
        height: 55px;
    }

    .group-7 .right-box {
        /* border: 2px solid red; */
        width: 40%;
        padding-right: 80px;
    }

    .group-7 .left-box img {
        width: 500px;
        height: 480px;
        margin-left: -10px;

    }

    .group-7 .right-box .slides .top-box .quotes {
        width: 30px;
        height: 25px;
    }

    .group-7 .right-box .slides .top-box .stars {
        width: 145px;
        height: 24px;
    }

    .group-7 .right-box .slides h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .group-7 .right-box .slides h6 {
        font-size: 16px;
        line-height: 28px;
    }

    .group-10 .inner-container .right-box img {
        height: 440px;
    }

    .group-10 .inner-container .left-box h1 {
        font-size: 33px;
        line-height: 48px;
    }

    .group-10 .inner-container .left-box h5 {
        font-size: 18px;
        line-height: 30px;
    }

    .group-10 .inner-container .left-box {
        width: 40%;
        margin-left: 40px;
    }

    .group-10 .inner-container .left-box button {
        width: 300px;
        height: 54px;
        font-size: 18px;
    }

}

@media only screen and (max-width: 990px) {
    .banner .form-box {
        width: 380px;
        /* margin-top: 50px; */
    }

    .banner .form-box .form-box-title {
        width: 380px;
        height: 128px;
        /* padding  -right: 20px; */
    }

    .banner .form .form-input {
        width: 320px;
        height: 42px;

    }

    .banner .banner-main-heading-1 {
        font-size: 40px;
        /* border: 2px solid red; */
        width: 100%;
    }

    .banner .banner-main-heading-2 {
        font-size: 40px;
        max-width: 90%;
        line-height: 60px;

    }

    .banner .banner-main-heading-3 {
        font-size: 19px;
        max-width: 100%;
    }

    .group-4 {
        gap: 40px;
    }

    .group-4 .left-box img {
        width: 380px;
        height: 480px;
    }

    .group-4 .right-box button {
        width: 320px;
        height: 54px;
        font-size: 17px;

    }

    .group-4 .right-box .btn-text {
        margin: 12px 0 0 10px;


    }

    .group-4 .right-box h2 {
        width: 100%;
        font-size: 32px;

    }

    .group-4 .right-box p {
        width: 100%;
        font-size: 18px;

    }

    .group-4 .left-box .inner-box {
        width: 330px;
        /* height: 115px; */
        border-radius: 5px;
        box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -50px auto 0;
        position: relative;
        background-color: #FFFFFF;

    }

    .group-5 {
        height: 546px;
    }

    .group-5 .inner-container .top-title {
        margin-top: 59px;
    }

    .group-5 .inner-container .top-title h2 {
        font-size: 40px;


    }

    .group-5 .inner-container .cards {
        gap: 25px;
    }

    .group-5 .inner-container .cards .left-card {
        width: 380px;
        height: 500px;
    }

    .group-5 .inner-container .cards .left-card img {
        width: 100%;
        height: 280px;
    }

    .group-6 .inner-container .right-box .image_1 {
        width: 440px;
        height: 420px;
    }

    .group-6 .inner-container .right-box .image_2 {
        width: 200px;
        height: 220px;
        margin-top: -90px;
    }

    .group-6 .inner-container .left-box h2 {
        font-size: 31px;
        width: 100%;
    }

    .group-6 .inner-container .left-box h5 {
        font-size: 19px;
        width: 95%;
    }

    .group-6 .inner-container .left-box button {
        width: 310px;
        height: 50px;
    }

    .group-7 .right-box {
        /* border: 2px solid red; */
        width: 50%;
        padding-top: 40px;
        padding-right: 40px;
    }

    .group-7 .left-box img {
        width: 460px;
        height: 450px;
        margin-left: -10px;

    }

    .group-7 .right-box .dots {
        display: flex;
        flex-direction: row;
        gap: 9px;
        margin: 10px 0 0 0;
    }

    .group-9 .inner-container .inner-grid .place {
        width: 20%;
    }

    .group-9 .inner-container .map {
        margin: 44px 0 0 0;
        width: 700px;
        height: 380px;
        border-radius: 5px;
    }

    .group-10 .inner-container .right-box img {
        height: 380px;
    }

}

@media only screen and (max-width: 930px) {
    .group-10-parent .container {
        padding: 0px;
    }

    .group-10 .inner-container .right-box {
        display: none;
    }

    .group-10 .inner-container .left-box {
        width: 60%;
        margin: 0px auto;
        padding: 20px 55px 20px;
    }

}

@media only screen and (max-width: 880px) {
    .group-7 .right-box {
        width: 50%;
        padding-top: 20px;
        padding-right: 10px;
    }

    .group-7 .right-box .dots-parent {
        display: flex;
        flex-direction: row;
        gap: 9px;
        margin: 5px 0 0 0;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        padding: 0 60px;
        /* overflow-y: scroll; */
    }

    .header {
        height: 57px;
        width: 100%;
        display: flex;
        align-items: center;
        /* overflow: ; */
    }

    .header .logo-image {
        width: 119px;
        height: 29px;

    }

    .header .header-inline {
        gap: 15px;
        width: 78vw;

    }

    .header .header-middle {
        display: none;
    }

    .header .button-header {
        width: 185px;
        height: 38px;
        font-family: Open Sans;
        font-size: 12px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;

    }

    .banner {
        height: 1135px;

    }

    .banner .inline {
        flex-direction: column;
        padding-top: 27px;
        align-items: center;
        justify-content: center;
    }

    .banner .inline .inline-banner {
        width: 98%;

    }

    .banner .banner-heading {
        font-size: 17px;
        font-weight: 700;
        line-height: 27px;
        text-align: left;
        margin: 30px 0 0 0;
    }

    .banner .banner-main-heading-1 {
        font-size: 40px;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: left;
        width: 100%;
        margin: 0;
        margin-top: 16px;

    }

    .banner .banner-main-heading-2 {
        font-size: 40px;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: left;
        width: 100%;

    }

    .banner .banner-main-heading-3 {
        font-family: Open Sans;
        font-size: 19px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(255, 255, 255, 1);
        margin: 10px 0 0 0;

    }

    .banner .form-box {
        width: 450px !important;
        height: 547px;
        margin-top: 45px;
        /* border: 1px solid rgba(140, 140, 140, 1) */
    }

    .banner .form-box .form-box-title {
        /* background-image: url("./img/bannermaskmobile.svg"); */
        width: 100% !important;
        /* height: 125px; */
    }

    .banner .form-box .form-box-title .form-box-title-1 {
        font-size: 20px;
    }

    .banner .form-box .form-box-title .form-box-title-2 {
        font-size: 13px;
        line-height: 23px;
        text-align: center;

    }

    .banner .form .form-input {
        width: 270px;
        height: 45.566856384277344px;
        border-radius: 4px;
        border: 1px solid rgba(140, 140, 140, 1)
    }

    .banner .form button {
        width: 270px;
        height: 53.49px;
        margin-top: 23px;
        font-size: 14px;
    }

    .banner .form p {
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        margin-top: 4px;
        margin-bottom: 30px;
    }

    .testimonial .flex-container {
        margin-top: 31px;
    }

    .testimonial .company-logo img {
        width: 80px;
        height: 80px;
    }

    .testimonial .rating {
        width: 142.78px;
        height: 21.59px;
        border-radius: 40px;

    }

    .testimonial .rating img {
        width: 120px;
        height: 17px;
    }

    .testimonial .review p {
        font-size: 20px;
        line-height: 30px;
        width: 80%;
    }

    .testimonial .review img {
        width: 37px;
        height: 37px;
        margin-top: 25px;
    }

    .testimonial .review h6 {
        font-size: 18px;
        margin-top: 8px;
    }

    .group-4 {
        flex-direction: column;
        /* align-items: center; */
        margin: 0;
        margin-top: 56px;
        gap: 32px;
    }

    .group-4 .left-box img {
        width: 319px;
        height: 280px;
    }

    .group-4 .left-box .inner-box {
        width: 284px;
        height: 110px;
    }

    .group-4 .left-box .inner-box p {
        font-size: 16px;
        line-height: 27px;
    }

    .group-4 .right-box {
        align-items: center;
    }

    .group-4 .right-box h2 {
        font-size: 30px;
        line-height: 44px;
        width: 90%;
    }

    .group-4 .right-box p {
        font-size: 16px;
        line-height: 29px;
        width: 90%;

    }

    .group-4 .right-box button {
        width: 296px;
        height: 53px;
        font-weight: 600;

    }

    .group-4 .right-box .btn-text {
        font-size: 15px;
        font-weight: 600;
        margin: 11px 0 0 0;
        text-align: center;
    }

    .group-5 {
        height: 845px;
        margin: 44px 0 0 0;
        padding: 0 56px;
    }

    .group-5 .inner-container .top-title {
        margin-top: 40px;
    }

    .group-5 .inner-container .top-title h2 {
        font-size: 30px;
        font-weight: 700;
        line-height: 42px;
        text-align: start;
    }

    .group-5 .inner-container .top-title h6 {
        font-size: 17px;
        font-weight: 500;
        line-height: 29px;
        text-align: left;
        min-width: 60%;
        width: 350px;
        /* border: 2px solid red; */

    }

    .group-5 .inner-container .cards {
        flex-direction: column;
        margin-top: 29px;
        gap: 36px;
    }

    .group-5 .inner-container .cards .left-card {
        width: 318.15px;
        height: 395px;
    }

    .group-5 .inner-container .cards .right-card {
        height: 420px;
    }


    .group-5 .inner-container .cards .left-card img {
        width: 318.15px;
        height: 189px;
    }

    .group-5 .inner-container .cards .left-card h3 {
        font-size: 27px;
        margin: 6px 0 0 0;
    }

    .group-5 .inner-container .cards .left-card h6 {
        font-size: 16px;
        font-weight: 600;
        margin: 12px 0 0 0;
    }

    .group-5 .inner-container .bottom-title h4 {
        font-size: 17px;
        font-weight: 500;
        line-height: 30px;
        margin: 32px auto 30px;
        /* border: 2px solid red; */
        min-width: 75%;
        width: 350px;
    }

    .group-5 .inner-container .bottom-title button {
        width: 296px;
        height: 53.11px;
        font-size: 17px;
        font-weight: 600;

    }

    .group-5 .inner-container .bottom-title p {
        font-size: 15px;
        font-weight: 600;
        margin: 11px 0;
    }

    .group-6 .inner-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .group-6 .inner-container .right-box .image_1 {
        width: 440px;
        height: 350px;
    }

    .group-6 .inner-container .right-box .image_2 {
        width: 170px;
        height: 190px;
        margin-top: -70px;
    }

    .group-6 .inner-container .left-box {
        width: 340px;
        /* border: 2px solid red; */
        /* margin-top: 10px; */
        align-content: center;
    }

    .group-6 .inner-container .left-box h2 {
        font-size: 30px;
        font-weight: 700;
        line-height: 44px;

    }

    .group-6 .inner-container .left-box h5 {
        font-size: 17px;
        font-weight: 400;
        line-height: 31px;
        width: 331px;
        /* border: 2px solid red; */


    }

    .group-6 .inner-container .left-box div {
        width: 100%;
        text-align: center;

    }

    .group-6 .inner-container .left-box button {
        width: 296px;
        height: 54px;
        font-size: 17px;
        font-weight: 600;
    }

    .group-6 .inner-container .left-box p {
        font-size: 15px;
        font-weight: 600;
        margin: 8px 0;
    }

    .group-7 {
        height: 763px;
        margin-top: 50px;
        padding: 0 55px;
    }

    .group-7 .inner-container {
        flex-direction: column-reverse;

    }

    .group-7 .right-box {
        /* border: 2px solid red; */
        width: 330px;
        padding-top: 51px;
    }

    .group-7 .right-box .slides .top-box .quotes {
        width: 30px;
        height: 22px;
    }

    .group-7 .right-box .slides .top-box .stars {
        width: 128px;
        height: 23px;
    }

    .group-7 .right-box .slides h2 {
        font-size: 26px;
        line-height: 38px;

    }

    .group-7 .right-box .slides h6 {
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
    }

    .group-7 .right-box .slides .bottom-box img {
        width: 60px;
        height: 60px;
    }

    .group-7 .right-box .dots-parent {
        display: flex;
        flex-direction: row;
        gap: 9px;
        margin: 25px 0 0 0;
    }

    .group-7 .right-box .dots-parent .dots {
        width: 40px;
        height: 4px;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.2);
        cursor: pointer;
        z-index: 100;
    }

    .group-7 .left-box img {
        display: none;


    }

    .group-7 .left-box .mobile-image {
        display: block;
        width: 400px;
        height: 350px;
        margin-top: -80px;
        margin-left: 30px;
    }

    .group-8 {
        justify-content: start;
        align-items: start;
        margin-top: 200px;
        gap: 20px;
    }

    .group-8 img {
        width: 144px;
        height: 144px;
    }

    .group-9 {
        margin: 61px 0 0 0;
    }

    .group-9 .inner-container h1 {
        font-size: 35px;

    }

    .group-9 .inner-container .inner-grid {
        width: 100%;
        justify-content: center;
        margin-top: 24px;

    }

    .group-9 .inner-container .inner-grid .place {
        max-width: 200px;
        min-width: 35%;
    }

    .group-9 .inner-container .inner-grid .place:nth-child(1) {
        order: 1;
    }

    .group-9 .inner-container .inner-grid .place:nth-child(2) {
        order: 2;
    }

    .group-9 .inner-container .inner-grid .place:nth-child(3) {
        order: 4;
    }

    .group-9 .inner-container .inner-grid .place:nth-child(4) {
        order: 3;
    }

    .group-9 .inner-container .inner-grid .place:nth-child(5) {
        order: 5;
    }

    .group-9 .inner-container .inner-grid .place:nth-child(6) {
        order: 6;
    }

    .group-9 .inner-container .inner-grid .place:nth-child(7) {
        order: 8;
    }

    .group-9 .inner-container .inner-grid .place:nth-child(8) {
        order: 7;
    }

    .group-9 .inner-container .inner-grid .place:nth-child(9) {
        order: 10;
    }

    .group-9 .inner-container .inner-grid .place:nth-child(10) {
        order: 9;
    }

    .group-9 .inner-container .inner-grid .place:nth-child(11) {
        order: 11;
    }

    .group-9 .inner-container .inner-grid .place:nth-child(12) {
        order: 12;
    }

    .group-9 .inner-container .inner-grid .place:nth-child(13) {
        order: 13;
    }

    .group-9 .inner-container .inner-grid .place:nth-child(14) {
        order: 14;
    }

    .group-9 .inner-container .inner-grid .place h5 {
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
    }

    .group-9 .inner-container .map {
        margin: 24px 0 0 0;
        width: 322px;
        height: 131px;

    }

    .group-9 .inner-container button {
        width: 296px;
        height: 54px;
        font-weight: 600;
        margin: 29px 0 0 0;
    }

    .group-9 .inner-container p {
        font-size: 15px;
        font-weight: 600;
        margin: 8px 0 0 0;
    }

    .group-9 .inner-container .services {
        gap: 30px;
    }

    .group-9 .inner-container .services .services-2 {
        display: none;
    }

    .group-9 .inner-container .services .services-4 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0px;
    }

    .group-9 .inner-container .services div {
        width: 140px;
        height: 130px;
        /* gap: 30px; */

    }

    .group-9 .inner-container .services div h5 {
        font-size: 14px;
        font-weight: 600;

    }

    .group-9 .inner-container .services div img {
        width: 40px;
        height: 40px;
    }

    .group-10-parent .container {
        padding: 0px;
    }

    .group-10 {
        margin: 40px 0 0 0;
        padding: 10px 0;
        height: 520px;

    }

    .group-10 .inner-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .group-10 .inner-container .right-box {
        display: none;
    }

    .group-10 .inner-container .left-box {
        width: 340px;
        /* border: 2px solid red; */
        margin: 0px auto;
        padding: 44px 0 0 0;
    }

    .group-10 .inner-container .left-box h1 {
        margin: 0;
        font-size: 32px;
        line-height: 45px;
    }

    .group-10 .inner-container .left-box h5 {
        font-size: 18px;
        font-weight: 500;
        width: 95%;
        margin: 8px 0 0 0;

    }

    .group-10 .inner-container .left-box button {
        width: 296px;
        height: 54px;
        margin-top: 19px;
        font-size: 17px;
        font-weight: 600;

    }

    .group-10 .inner-container .left-box p {
        font-size: 15px;
        font-weight: 600;
        margin: 8px 0 0 0;
    }

    .group-11 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px 0;
    }

    .group-11 h5 {
        margin: 0;
        font-size: 14px;

    }
}

@media only screen and (max-width:630px) {}

@media only screen and (max-width:630px) {
    .banner {
        background: url(./img/bannermobile.png);
        /* height: 1200px; */
        background-repeat: no-repeat;
        background-size: 100%;

    }

    .banner .inline {
        padding-top: 0px;
    }

}

@media only screen and (max-width: 572px) {
    .container {
        padding: 0 40px;
        /* overflow-y: scroll; */
    }

    .group-5 {
        height: 845px;
    }

    .group-6 .inner-container .right-box .image_1 {
        width: 307.58px;
        height: 265.56px;
    }

    .group-6 .inner-container .right-box .image_2 {
        width: 135px;
        height: 140.93px;
        margin-top: -60px;
    }

    .group-6 .inner-container .left-box {
        width: 331px;
        margin-top: 10px;
    }

    .group-7 {
        height: 700px;
        margin-top: 50px;
        padding: 0 55px;
    }

    .group-7 .left-box .mobile-image {
        display: block;
        width: 320px;
        height: 280px;
        margin-top: -100px;
        margin-left: 30px;
    }

    .group-8 {
        justify-content: start;
        align-items: start;
        margin-top: 120px;
        gap: 20px;
    }


}

@media only screen and (max-width: 544px) {
    .banner .form-box {
        width: 380px !important;
    }

    .banner .form .form-input {
        width: 270px;
        height: 45px;
        border-radius: 4px;
        border: 1px solid rgba(140, 140, 140, 1)
    }

    .banner .form-box .form-box-title {
        background-image: url("./img/Rectangle\ 6.png");
        /* height: 128px; */
        background-size: 100% 100%;
        background-repeat: no-repeat !important;

    }

    .banner .form button {
        width: 270px;
        height: 53px;
        margin-top: 23px;
        font-size: 14px;
    }

    .group-7 .right-box .slides h6 {
        line-height: 26px;

    }

    .group-7 {
        /* height: 650px; */
        margin-top: 50px;
        padding: 0 55px;
    }

    .group-7 .left-box .mobile-image {
        display: block;
        width: 300px;
        height: 260px;
        margin-top: -80px;
        margin-left: 30px;
    }


}

@media only screen and (max-width: 460px) {
    .banner {
        /* height: 1200px !important; */
        background-size: auto;
    }

    .banner .form-box {
        width: 340px !important;
    }

    .banner .form .form-input {
        width: 270px;
        height: 45px;
        border-radius: 4px;
        border: 1px solid rgba(140, 140, 140, 1)
    }

    .banner .banner-heading {
        font-size: 16px;
    }

    .banner .banner-main-heading-1 {
        font-size: 36px;
        line-height: 50px;
    }

    .banner .banner-main-heading-2 {
        font-size: 36px;
        line-height: 50px;
    }

    .banner .banner-main-heading-3 {
        font-size: 17px;
        line-height: 30px;
    }

    .group-5 {
        height: 838px;
    }

    .group-5 .inner-container .top-title h2 {
        font-size: 26px;
        line-height: 40px;
    }

    .group-5 .inner-container .top-title h6 {
        line-height: 27px;
    }

    .group-7 {
        height: 750px;
        margin-top: 50px;
        padding: 0 40px;
    }

    .group-7 .left-box .mobile-image {
        margin-top: -50px;
        margin-left: 30px;
    }

    .group-8 {
        margin-top: 120px;
    }

    .group-10 .inner-container .left-box {
        /* width: 70%; */
        margin: 0px auto;
        padding: 30px 55px 30px;
    }

    .group-10 .inner-container .left-box h5 {
        font-size: 18px;
        font-weight: 600;
        width: 100%;
        margin: 8px 0 0 0;

    }

    .group-10 .inner-container .left-box button {
        width: 260px;
        height: 52px;
        margin-top: 19px;
        font-size: 16px;
        font-weight: 600;
        /* border: 2px solid red; */

    }

}

@media only screen and (max-width: 400px) {
    .container {
        /* background-color: red; */
        padding: 0 20px;
    }

    .header .button-header {
        font-size: 10px;
    }

    .group-5 {
        /* height: 830px; */
        margin: 44px 0 0 0;
        padding: 0 56px;
    }

    .group-6 .inner-container .left-box {
        margin-top: 0px;
    }

    .group-7 {
        height: 720px;
        margin-top: 50px;
        padding: 0 40px;
    }

    .group-7 .right-box {
        width: 330px;
        padding: 51px 40px 0;
    }

    .group-8 {
        margin-top: 120px;
    }

    .group-8 img {
        width: 120px;
        height: 120px;
    }

    .group-9 .inner-container button {
        width: 270px;
        height: 50px;
        font-size: 15px;
        font-weight: 600;
    }

    .group-10 {
        margin: 40px 0 0 0;
        /* height: 550px; */
        padding: 0px 0 0 0;

    }

    .group-10 .inner-container .left-box {
        /* width: 70%; */
        margin: 0px;
        padding: 40px 20px 0;
    }


}